@charset "UTF-8";

h2 {
	font-family: "Nanum Pen Script", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

table {
	font-family: "Noto Serif KR", serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0 auto; /* 가운데 정렬 */
	padding: 0;
}

/* 테이블 셀 스타일 */
table td {
	padding: 10px; /* 셀 안쪽 여백 설정 */
}

textarea {
	resize: none; /* 크기 조정 비활성화 */
	border: 1px solid #289B6E; /* 파일 선택 버튼 테두리 색상 변경 */
	border-radius: 4px; /* 입력 필드 테두리 둥글게 설정 */
}

/* 입력 폼 요소 스타일 */
.table.tbl1 {
	width: 100%; /* 입력 필드 너비 100%로 설정 */
	padding: 8px; /* 입력 필드 안쪽 여백 설정 */
	border: 1px solid #289B6E; /* 입력 필드 테두리 색상 변경 */
	border-radius: 4px; /* 입력 필드 테두리 둥글게 설정 */
	box-sizing: border-box; /* 입력 필드 박스 모델 설정 */
	margin-bottom: 10px; /* 입력 필드 아래 여백 설정 */
}

/* 파일 선택 버튼 스타일 */
input[type="password"], input[type="file"] {
	padding: 8px; /* 파일 선택 버튼 안쪽 여백 설정 */
	border: 1px solid #289B6E; /* 파일 선택 버튼 테두리 색상 변경 */
	border-radius: 4px; /* 파일 선택 버튼 테두리 둥글게 설정 */
	box-sizing: border-box; /* 파일 선택 버튼 박스 모델 설정 */
	margin-bottom: 10px; /* 파일 선택 버튼 아래 여백 설정 */
}

.inputCont {
	padding: 8px; /* 파일 선택 버튼 안쪽 여백 설정 */
	border: 1px solid #289B6E; /* 파일 선택 버튼 테두리 색상 변경 */
	border-radius: 4px; /* 파일 선택 버튼 테두리 둥글게 설정 */
	box-sizing: border-box; /* 파일 선택 버튼 박스 모델 설정 */
	margin-bottom: 10px; /* 파일 선택 버튼 아래 여백 설정 */
}

/* 버튼 컨테이너 */
.btnEditContainer {
	text-align: center; /* 내부 요소를 수평으로 가운데 정렬 */
	white-space: nowrap; /* 줄 바꿈 방지 */
	display: inline-block; /* 블록 요소를 인라인 레벨로 변경하여 부모 요소의 텍스트 흐름에 맞게 정렬 */
	width: 100%; /* 부모 요소의 폭을 100%로 설정하여 가운데 정렬을 위한 효과를 줌 */
}

/* 버튼 부분 */
.btnEdit.btn1 {
	display: inline-block; /* 인라인 블록 요소로 설정하여 한 줄에 나타나도록 함 */
	width: 100px;
	padding: 0;
	margin: 10px; /* 버튼 간격 조정 */
	font-weight: 600;
	text-align: center;
	line-height: 30px;
	color: #FFF;
	background-color: #4DB6AC;
	border-radius: 5px; /* 버튼 테두리 둥글게 설정 */
	border: none; /* 기존의 테두리 제거 */
	transition: all 0.2s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* 초기에 그림자 효과 없음 */
}

.btnEdit.btn1:hover {
	background-color: #21825B;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 호버 시 그림자 효과 추가 */
}

/* 버튼 부분 */
.btnPush.btn1 {
	display: block;
	position: relative;
	float: left;
	width: 100px;
	padding: 0;
	margin: 10px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
	color: #FFF;
	background-color: #4DB6AC;
	border-radius: 5px; /* 버튼 테두리 둥글게 설정 */
	border: none; /* 기존의 테두리 제거 */
	transition: all 0.2s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* 초기에 그림자 효과 없음 */
}

.btnPush.btn1:hover {
	background-color: #21825B;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 호버 시 그림자 효과 추가 */
}