
/* 링크 스타일 */
a {
	text-decoration: none;
	color: black;
}

/* 테이블 스타일 */
table {
	border-collapse: collapse;
	table-layout: auto;
	font-family: "Noto Serif KR", serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	margin-left: 50px;
	margin-right: 50px;
}

table, th, td {
	border: none;
}

/* 컨테이너 정렬 */
.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.custom-dropdown {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("/Resources/Image/Board/dropdown.png");
	/* 드롭다운 화살표 이미지 */
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px; /* 우측 여백 */
	border: 1px solid #289B6E; /* 테두리 스타일 */
	border-radius: 5px; /* 테두리 둥글기 */
	padding: 8px; /* 내부 여백 */
	font-size: 14px; /* 글꼴 크기 */
	color: #333; /* 글자 색상 */
	cursor: pointer; /* 커서 타입 */
}

/* 드롭다운 옵션 스타일 */
.custom-dropdown option {
	background-color: #fff; /* 배경색 */
	color: #333; /* 글자 색상 */
	padding: 8px; /* 내부 여백 */
	border: none; /* 테두리 없음 */
}

/* 버튼 스타일 */
.btnPush.btn1 {
	display: inline-block;
	width: 100px;
	padding: 0;
	margin: 10px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 25px;
	color: #FFF;
	background-color: #4DB6AC;
	border-radius: 5px;
	border: none;
	transition: all 0.2s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.btnPush.btn1:hover {
	background-color: #21825B;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* �샇踰� �떆 洹몃┝�옄 �슚怨� 異붽� */
}

/*移댄뀒怨좊━ 遺�遺�*/
.btnCateContainer {
	text-align: center; /* 踰꾪듉�뱾�쓣 媛��슫�뜲 �젙�젹 */
	white-space: nowrap; /* 以� 諛붽퓞 諛⑹� */
}

.btnCate.btn1 {
	border: none;
	display: inline-block; /* �씤�씪�씤 釉붾줉 �슂�냼濡� �꽕�젙 */
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	overflow: hidden;
	position: relative;
	color: #FFF;
	font-weight: 600;
	font-size: 12px;
	background-color: #4DB6AC;
	padding: 9px 30px; /* �닔�젙�맂 �뙣�뵫 媛� */
	margin: 0 5px; /* 醫뚯슦 �뿬諛� �꽕�젙 */
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btnCate.btn1 span {
	position: relative;
	z-index: 1;
}

.btnCate.btn1:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 490%;
	width: 140%;
	background: #21825B;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
	transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btnCate.btn1:hover:after {
	-webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
	transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* 寃뚯떆�뙋 遺�遺� */
#list tr {
	border-bottom: 1px solid #ccc; /* 媛� �뻾 �궗�씠�뿉 �쉶�깋 援щ텇�꽑 異붽� */
}

#list tr:last-child {
	border-bottom: none; /* 留덉�留� �뻾�쓽 援щ텇�꽑 �젣嫄� */
}

#list th {
	text-align: center;
}

#list td {
	padding: 10px;
	text-align: left;
	border: 1px solid #f2f2f2; /* �닔�젙�맂 遺�遺� */
	border-collapse: collapse;
	border: none;
}

#list th {
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
	border-collapse: collapse;
	border: none;
	margin-bottom: 10px; /* �젣紐� �븘�옒 �뿬�쑀 異붽� */
	padding-top: 20px; /* �젣紐� �쐞 �뿬�쑀 異붽� */
}

#list td:first-child, #list td:nth-child(4), #list td:nth-child(5),
	#list td:last-child {
	text-align: center;
}

#list th:nth-child(2), #list td:nth-child(2) {
	/* 제목은 왼쪽 정렬로 설정합니다. */
	text-align: left;
}

#list th:nth-child(3), #list td:nth-child(3) {
	/* 작성자 부분은 시작 위치와 동일하게 정렬합니다. */
	text-align: center;
}

#list a {
	color: #333;
	text-decoration: none;
}

#list a:hover {
	color: #000;
}

/* 由ъ뒪�듃 �샇踰꾩떆 諛곌꼍 諛� �뀒�몢由� �깋�긽 蹂�寃� */
#list tr:hover td {
	border-color: #289B6E;
	background-color: #289B6E;
	opacity: 0.5;
}

/* 입력 검색창 스타일 */
.inputSearch {
	padding: 8px;
	border: 1px solid #289B6E;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
}