@import "postcss-color-function";

@import "postcss-nested";

@import
	url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

body {
	width: 100%;
	background-color: #ffffff;
	margin-right: 50px;
	margin-left: 50px;
}

.banner {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #ffffff;
}

.banner_logo img {
	height: 40px;
	margin-right: 20px;
}

.search_container {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: 1.5px solid #289B6E;
	border-radius: 20px;
	padding: 5px;
	margin-right: auto;
	height: 25px;
}

.search_txt {
	border: none;
	background-color: transparent;
	align-self: center;
	outline: none;
	color: #289B6E;
	padding: 5px;
	font-size: 14px;
	width: 150px;
}

.search_txt::placeholder {
	color: light-gray;
}

.search_btn {
	background-color: transparent;
	border: none;
	padding: 5px;
	cursor: pointer;
}

.search_btn img {
	height: 20px;
}

.login_button {
	color: black;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.menu_bar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	height: 100px;
	width: 100%;
	padding-left: 30ox;
}

.menu_bar>div {
	margin-right: 20px;
	position: relative;
	width: 100%;
}

.menu_bar>div ul {
	display: none;
	position: absolute;
	top: 100%;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
	border-radius: 5px;
	z-index: 1;
}

.menu_bar>div ul li {
	list-style: none;
	margin: 5px 0;
}

.menu_bar>div ul li a {
	color: #333333;
	text-decoration: none;
}

.menu_link {
	color: black;
	text-decoration: none;
	padding: 8px 12px;
	border-radius: 10px;
}

.menu_bar>div ul li a:hover {
	color: #289B6E;
}

.menu_link:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.menu_bar>div:hover ul {
	display: block;
}

.menu_bar>div+div {
	margin-left: 30px;
}